@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-size: 14px;
  color: #000; }
  body.lock {
    overflow: hidden; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-family: "Bellota Text", cursive; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px; }

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0; }
  .header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(173, 140, 140, 0.712);
    z-index: 3; }
  .header__wrapper {
    position: relative;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__burger {
    position: relative;
    z-index: 4;
    display: none; }
  .header__menu {
    position: relative;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap; }
    .header__menu li {
      margin: 0px 20px; }
      .header__menu li:first-child {
        margin: 0px 20px 0px 0px; }
      .header__menu li:last-child {
        margin: 0px 0px 0px 20px; }
  .header__link {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px; }
    .header__link:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1.5px;
      bottom: -2px;
      left: 0;
      background-color: #6d3803;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    .header__link:hover:after {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  @media (max-width: 1300px) {
    .header__menu li {
      margin: 0px 10px; }
      .header__menu li:first-child {
        margin: 0px 10px 0px 0px; }
      .header__menu li:last-child {
        margin: 0px 0px 0px 10px; } }
  @media (max-width: 1160px) {
    .header {
      height: 70px; }
      .header__wrapper {
        height: 70px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
      .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        top: 0;
        right: 0; }
        .header__burger:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1.5px;
          top: 0;
          left: 0;
          background-color: #fff;
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
        .header__burger span {
          position: absolute;
          width: 100%;
          height: 1.5px;
          top: 8px;
          left: 0;
          background-color: #fff;
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
        .header__burger:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1.5px;
          top: 16px;
          left: 0;
          background-color: #fff;
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
      .header__burger.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px; }
      .header__burger.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .header__menu {
        overflow: auto;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: #3d2d29;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start; }
        .header__menu li {
          padding: 17px 0px; }
          .header__menu li:first-child {
            margin: 30px 0px 0px 0px; }
      .header__menu.active {
        top: 0;
        padding: 50px 0px 0px 0px; }
      .header__link {
        font-size: 30px; }
        .header__link:hover:after {
          display: none; } }
  @media (max-width: 768px) {
    .header {
      height: 55px; }
      .header__wrapper {
        height: 55px; }
      .header__logo {
        font-size: 28px; }
      .header__menu.active {
        padding: 20px 0px 0px 0px; }
      .header__menu li:first-child {
        margin: 50px 0px 0px 0px; } }
  @media (max-width: 480px) {
    .header {
      height: 50px; }
      .header__wrapper {
        height: 50px; }
      .header__logo {
        font-size: 22px; }
      .header__menu.active {
        padding: 10px 0px 0px 0px; } }

.main {
  background-color: rgba(199, 118, 156, 0.164);
  padding: 150px 0px 70px 0px;
  height: 100vh; }
  .main__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px -20px 60px -20px; }
  .main__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0px 20px; }
    .main__column_1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .main__photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px; }
    .main__photo img {
      overflow: hidden;
      border-radius: 50%;
      width: 100%; }
  .main__label {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.5px;
    font-style: italic;
    font-weight: 600; }
    .main__label span {
      font-size: 36px;
      font-weight: 700; }
  .main__title {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 1.5px;
    margin: 0px 0px 50px 0px; }
  @media (max-width: 1070px) {
    .main {
      padding: 100px 0px 70px 0px; } }
  @media (max-width: 960px) {
    .main__photo {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px; }
    .main__label {
      font-size: 20px;
      line-height: 28px; }
    .main__wrapper {
      margin: 0px 0px 50px 0px; }
    .main__column {
      padding: 0px 0px 0px 0px; } }
  @media (max-width: 768px) {
    .main {
      height: auto; } }
  @media (max-width: 710px) {
    .main {
      padding: 70px 0px 30px 0px; }
      .main__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .main__photo {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
        flex: 0 1 200px; }
      .main__label {
        margin: 20px 0px 0px 0px; } }
  @media (max-width: 450px) {
    .main__label {
      font-size: 18px;
      line-height: 26px; }
      .main__label span {
        font-size: 32px; } }

.intro {
  text-align: center; }
  .intro__title {
    font-weight: 700;
    font-size: 32px;
    margin: 0px 0px 20px 0px; }
  .intro__text {
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 1.5px; }
    .intro__text span {
      font-weight: 600;
      color: #c7769c; }
    .intro__text p:last-child {
      max-width: 900px;
      margin: 0px auto; }
  @media (max-width: 960px) {
    .intro__text {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 33px; } }
  @media (max-width: 700px) {
    .intro__title {
      margin: 0px 0px 10px 0px; } }
  @media (max-width: 500px) {
    .intro__text {
      font-size: 18px; } }

.about {
  padding: 50px 0px;
  text-align: center;
  background: url("../img/useful/bg_about.jpg") center no-repeat;
  background-size: cover;
  color: #cecece; }
  .about__body {
    margin: 30px 0px 0px 0px; }
  .about__label {
    max-width: 1000px;
    margin: 0px auto;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1.3px;
    line-height: 28px;
    font-weight: 600; }
  .about__points {
    text-align: left;
    margin: 50px 0px 0px 0px; }
  .about__point {
    display: inline;
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 600;
    border-bottom: 2px dashed #cecece; }
  .about__items {
    text-align: left;
    margin: 20px 0px 20px 0px; }
    .about__items:last-child {
      margin: 20px 0px 0px 0px; }
  .about__item {
    font-size: 18px;
    margin: 10px 0px;
    line-height: 22px; }
  @media (max-width: 800px) {
    .about {
      padding: 30px 0; }
      .about__label {
        font-size: 20px;
        letter-spacing: 1px;
        max-width: 100%;
        line-height: 24px; }
      .about__points {
        margin: 40px 0px 0px 0px; } }
  @media (max-width: 700px) {
    .about__item {
      font-size: 16px;
      margin: 7px 0px; } }
  @media (max-width: 500px) {
    .about__label {
      font-size: 18px;
      letter-spacing: 0.5px;
      line-height: 22px; }
    .about__points {
      text-align: center;
      margin: 20px 0px 0px 0px; }
    .about__point {
      font-size: 20px; }
    .about__items {
      margin: 15px 0px;
      text-align: center; } }
  @media (max-width: 325px) {
    .about__point {
      line-height: 26px; } }

.title {
  display: inline;
  position: relative;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px; }
  @media (max-width: 500px) {
    .title {
      font-size: 28px; } }

.portfolio {
  padding: 50px 0px 70px 0;
  background-color: rgba(61, 33, 46, 0.089);
  text-align: center; }
  .portfolio__label {
    margin: 30px 0 50px 0;
    font-size: 24px;
    letter-spacing: 1.5px; }
    .portfolio__label p {
      margin: 7px 0px; }
  .portfolio__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0px 50px; }
    .portfolio__slider .slick-arrow {
      margin: -30px 35px 0 35px;
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 0;
      width: 40px;
      height: 60px; }
    .portfolio__slider .slick-arrow.slick-prev {
      left: 0;
      background: url("../img/left-arrow.svg") 0 0/100% no-repeat; }
    .portfolio__slider .slick-arrow.slick-next {
      right: 0;
      background: url("../img/right-arrow.svg") 0 0/100% no-repeat; }
    .portfolio__slider .slick-dots {
      position: absolute;
      bottom: -40px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .portfolio__slider .slick-dots li {
      list-style: none;
      margin: 0px 7px; }
    .portfolio__slider .slick-dots li.slick-active button {
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      background-color: rgba(0, 0, 0, 0.473); }
    .portfolio__slider .slick-dots li button {
      font-size: 0;
      width: 12px;
      height: 12px;
      background-color: #000;
      border-radius: 50%; }
  .portfolio__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .portfolio__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 400px;
    flex: 0 1 400px; }
    .portfolio__image img {
      width: 100%; }
    .portfolio__image_ex {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
      flex: 0 1 600px; }
  @media (max-width: 1470px) {
    .portfolio__slider .slick-arrow {
      margin: -30px 10px 0 10px; } }
  @media (max-width: 1345px) {
    .portfolio__image_ex {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
      flex: 0 1 500px; } }
  @media (max-width: 1170px) {
    .portfolio__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
      flex: 0 1 300px; }
      .portfolio__image_ex {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
        flex: 0 1 400px; } }
  @media (max-width: 950px) {
    .portfolio__image_ex {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
      flex: 0 1 300px; } }
  @media (max-width: 800px) {
    .portfolio {
      padding: 30px 0px 70px 0px; } }
  @media (max-width: 768px) {
    .portfolio {
      padding: 30px 0px 30px 0px; }
      .portfolio__label {
        font-size: 20px;
        letter-spacing: 1px; } }
  @media (max-width: 600px) {
    .portfolio__label {
      letter-spacing: normal; }
    .portfolio__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px; }
      .portfolio__image_ex {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
        flex: 0 1 300px; } }
  @media (max-width: 530px) {
    .portfolio__label {
      margin: 25px 0 30px 0;
      font-size: 18px;
      line-height: 22px; } }
  @media (max-width: 470px) {
    .portfolio__label {
      margin: 20px 0 30px 0; }
      .portfolio__label p {
        margin: 3px 0px; } }
  @media (max-width: 430px) {
    .portfolio__slider .slick-arrow {
      margin: -30px 5px 0 5px; }
    .portfolio__image_ex {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px; } }
  @media (max-width: 390px) {
    .portfolio__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
      flex: 0 1 200px; } }

.slick-list {
  position: relative;
  width: 100%;
  overflow: hidden; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slick-slide {
  width: 100%;
  overflow: hidden;
  position: relative; }

.sections {
  padding: 50px 0px;
  text-align: center; }
  .sections__label {
    margin: 30px 0px 50px 0px;
    font-size: 28px;
    letter-spacing: 1.5px; }
  .sections__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sections__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .sections__section {
    margin: 0px 0px 30px 0px; }
    .sections__section:last-child {
      margin: 0px 0px 0px 0px; }
  .sections__text {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #610532; }
    .sections__text:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1.5px;
      bottom: -3px;
      left: 0;
      -webkit-transition: 0.5s ease 0s;
      -o-transition: 0.5s ease 0s;
      transition: 0.5s ease 0s;
      border-bottom: 2px solid rgba(97, 5, 49, 0.486); }
    .sections__text:hover:after {
      opacity: 0; }
  @media (max-width: 955px) {
    .sections__body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .sections__label {
      margin: 30px 0px 20px 0px; }
    .sections__column {
      margin: 0 0 5px 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
    .sections__section {
      margin: 20px 0px; }
      .sections__section:last-child {
        margin: 20px 0px 0px 0px; } }
  @media (max-width: 800px) {
    .sections {
      padding: 30px 0px; } }
  @media (max-width: 700px) {
    .sections__label {
      font-size: 24px; } }
  @media (max-width: 500px) {
    .sections__label {
      margin: 20px 0px 5px 0px;
      font-size: 22px;
      letter-spacing: normal;
      line-height: 26px; } }
  @media (max-width: 490px) {
    .sections__text {
      line-height: 23px; }
      .sections__text:after {
        content: "";
        display: none; } }
  @media (max-width: 396px) {
    .sections__title {
      line-height: 30px; }
      .sections__title:after {
        content: "";
        width: 125%; } }

.profession {
  color: #fff;
  padding: 50px 0px;
  background: url("../img/useful/bg_direct.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden !important; }
  .profession__label {
    margin: 40px 0px 20px 0px;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: 700; }
  .profession__text {
    margin: 10px 0px;
    font-size: 20px;
    text-align: left;
    line-height: 24px; }
  .profession__sublabel {
    margin: 50px 0px 20px 0px;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: 700; }
  .profession__bottom {
    margin: 90px 0px 0px 0px;
    font-size: 24px;
    line-height: 28px; }
  .profession__link {
    position: relative;
    color: #fff;
    font-weight: 700; }
    .profession__link:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1.5px;
      bottom: 2px;
      left: 0;
      background-color: #fff;
      -webkit-transition: all 0.6s ease 0s;
      -o-transition: all 0.6s ease 0s;
      transition: all 0.6s ease 0s; }
    .profession__link:hover:after {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0; }
  @media (max-width: 800px) {
    .profession {
      padding: 30px 0px; }
      .profession__label {
        margin: 30px 0px 15px 0px; }
      .profession__sublabel {
        margin: 30px 0px 20px 0px; }
      .profession__bottom {
        margin: 70px 0px 0px 0px; } }
  @media (max-width: 500px) {
    .profession__label {
      font-size: 18px;
      margin: 25px 0px 10px 0px; }
    .profession__text {
      margin: 5px 0px; }
    .profession__sublabel {
      margin: 20px 0px 15px 0px;
      font-size: 20px; }
    .profession__bottom {
      margin: 55px 0px 0px 0px;
      font-size: 20px;
      line-height: 24px; } }
  @media (max-width: 410px) {
    .profession__label {
      margin: 18px 0px 7px 0px;
      letter-spacing: normal;
      font-size: 18px;
      line-height: 22px; }
    .profession__text {
      margin: 3px 0px;
      font-size: 16px;
      line-height: 20px; }
    .profession__sublabel {
      margin: 15px 0px 10px 0px; }
    .profession__bottom {
      margin: 45px 0px 0px 0px; } }

.profession-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0px 50px; }
  .profession-slider .slick-arrow {
    margin: -30px 100px 0 100px;
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 60px; }
  .profession-slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/arrow_l.png") 0 0/100% no-repeat; }
  .profession-slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/arrow_r.png") 0 0/100% no-repeat; }
  .profession-slider .slick-dots {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .profession-slider .slick-dots li {
    list-style: none;
    margin: 0px 7px; }
  .profession-slider .slick-dots li.slick-active button {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: rgba(238, 238, 238, 0.116); }
  .profession-slider .slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #eee;
    border-radius: 50%; }
  .profession-slider__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .profession-slider__image {
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 700px;
    flex: 0 1 700px; }
    .profession-slider__image img {
      width: 100%; }
  @media (max-width: 1150px) {
    .profession-slider .slick-arrow {
      margin: -30px 50px 0 50px; } }
  @media (max-width: 1000px) {
    .profession-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
      flex: 0 1 500px; } }
  @media (max-width: 800px) {
    .profession-slider .slick-arrow {
      margin: -30px 30px 0 30px; }
    .profession-slider .slick-dots {
      bottom: -40px; }
    .profession-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
      flex: 0 1 400px; } }
  @media (max-width: 600px) {
    .profession-slider .slick-arrow {
      margin: -30px 5px 0 5px; }
    .profession-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
      flex: 0 1 350px; } }
  @media (max-width: 500px) {
    .profession-slider .slick-arrow {
      margin: -30px 0px 0 0px; }
    .profession-slider .slick-dots {
      bottom: -30px; }
    .profession-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
      flex: 0 1 300px; } }
  @media (max-width: 410px) {
    .profession-slider .slick-dots {
      bottom: -25px; }
    .profession-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px; } }
  @media (max-width: 350px) {
    .profession-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
      flex: 0 1 200px; } }

.parents {
  background-color: #eee;
  padding: 50px 0px;
  text-align: center; }
  .parents__body {
    margin: 30px 0px 0px 0px; }
  .parents__subtitle {
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height: 30px; }
  .parents__wrapper {
    margin: 30px -20px 30px -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .parents__column {
    padding: 0px 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    text-align: center; }
  .parents__item {
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0px;
    letter-spacing: 0.5px;
    font-weight: 700; }
    .parents__item a {
      color: #000;
      border-bottom: 1px solid #000;
      -webkit-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      transition: all 1s ease 0s; }
      .parents__item a:hover {
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        border-bottom: 1px solid #eee; }
  .parents__links {
    margin: 50px 0px 0px 0px;
    text-align: left; }
  .parents__box {
    margin: 15px 0px; }
  .parents__text {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 26px; }
  .parents__link {
    color: #000;
    font-weight: 700;
    border-bottom: 1px solid #000;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s; }
    .parents__link:hover {
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      border-bottom: 1px solid #eee; }
  @media (max-width: 800px) {
    .parents {
      padding: 30px 0px; }
      .parents__subtitle {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 28px; }
      .parents__body {
        margin: 20px 0px 0px 0px; }
      .parents__wrapper {
        margin: 20px -20px 30px -20px; }
      .parents__links {
        margin: 30px 0px 0px 0px; } }
  @media (max-width: 650px) {
    .parents__item {
      margin: 10px 0px;
      font-size: 16px; } }
  @media (max-width: 687px) {
    .parents__subtitle {
      font-size: 24px;
      letter-spacing: 0.5px;
      line-height: 28px; }
    .parents__wrapper {
      margin: 10px -20px 0px -20px; }
    .parents__links {
      margin: 20px 0px 0px 0px; } }
  @media (max-width: 530px) {
    .parents__wrapper {
      margin: 20px 0px 0px 0px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .parents__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      padding: 0px 0px 0px 0px; }
      .parents__column:first-child {
        margin: 0px 0px 10px 0px; }
    .parents__item:first-child {
      margin: 0px 0px 10px 0px; }
    .parents__item:last-child {
      margin: 10px 0px 0px 0px; } }
  @media (max-width: 420px) {
    .parents__subtitle {
      font-size: 22px;
      letter-spacing: normal; }
    .parents__body {
      margin: 15px 0px 0px 0px; }
    .parents__wrapper {
      margin: 15px 0px 0px 0px; }
    .parents__text {
      letter-spacing: 0.5px; } }

.useful {
  padding: 50px 0px;
  text-align: center;
  background: url("../img/useful/bg1.jpg") center no-repeat;
  background-size: cover;
  color: #fff; }
  .useful__body {
    margin: 50px 0px 0px 0px;
    text-align: left; }
  .useful__text {
    margin: 17px 0px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 26px; }
    .useful__text:first-child {
      margin: 0px 0px 17px 0px; }
    .useful__text:last-child {
      margin: 17px 0px 0px 0px; }
  .useful__link {
    color: #fff;
    font-weight: 700;
    position: relative; }
    .useful__link:after {
      content: "";
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -2px;
      left: 0;
      background-color: #fff; }
    .useful__link:hover:after {
      opacity: 0; }
  @media (max-width: 800px) {
    .useful {
      padding: 30px 0px; }
      .useful__body {
        margin: 30px 0px 0px 0px; } }
  @media (max-width: 420px) {
    .useful__text {
      margin: 12px 0px;
      letter-spacing: 0.5px; } }

.contacts {
  background-color: #fff;
  text-align: center;
  padding: 50px 0px 0px 0px;
  color: #000; }
  .contacts__top {
    margin: 30px 0px 0px 0px; }
  .contacts__label {
    max-width: 900px;
    margin: 0px auto;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px; }
  .contacts__bottom {
    margin: 50px 0px 0px 0px; }
  @media (max-width: 800px) {
    .contacts {
      padding: 30px 0px 0px 0px; }
      .contacts__top {
        margin: 20px 0px 0px 0px; } }
  @media (max-width: 768px) {
    .contacts__label {
      font-size: 20px;
      line-height: 26px; } }

.form {
  margin: 50px 0px 0px 0px;
  text-align: left; }
  .form__label {
    font-size: 22px;
    letter-spacing: 1.5px;
    margin: 0px 0px 20px 0px; }
  .form__button {
    margin: 20px 0px 0px 0px;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60px;
    background-color: #c7769c;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px;
    -webkit-box-shadow: 3px 5px 0 #834561;
    box-shadow: 3px 5px 0 #834561;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    top: 0; }
    .form__button:hover {
      background-color: #995f7a; }
    .form__button:active {
      top: 3px;
      -webkit-box-shadow: 0px 0px 0 #834561;
      box-shadow: 0px 0px 0 #834561; }
  @media (max-width: 800px) {
    .form {
      margin: 30px 0px 0px 0px; } }

.options__item {
  margin: 0px 0px 10px 0px; }
  .options__item:last-child {
    margin: 0px 0px 0px 0px; }

.options__input {
  display: none; }

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  line-height: 140%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .options__label:before {
    cursor: pointer;
    content: "";
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #c7769c;
    margin: 0px 10px 0px 0px; }
  .options__label:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    background-color: white;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

.options__input:checked + .options__label:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.direction {
  padding: 80px 0px 50px 0px;
  background: url("../img/direction/bg1.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  color: #cecece; }
  .direction__breadcrumbs {
    padding: 60px 0px 0px 0px; }
  .direction__body {
    margin: 70px 0px 0px 0px; }
  .direction__text {
    margin: 50px 0px 0px 0px;
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1.5px; }
    .direction__text span {
      font-weight: 700; }
  .direction__image {
    margin: 50px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .direction__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px; }
    .direction__img img {
      width: 100%; }
  .direction__sublabel {
    margin: 50px 0px 30px 0px;
    font-size: 24px;
    text-align: center;
    line-height: 30px; }
    .direction__sublabel span {
      margin: 0px 0px 10px 0px;
      display: block;
      font-weight: 700; }
  .direction__video {
    margin: 50px 0px 40px 0px; }
  .direction__item {
    margin: 100px 0px 0px 0px; }
    .direction__item_pr {
      margin: 60px 0px 0px 0px; }
    .direction__item_cor {
      margin: 0px 0px 0px 0px; }
    .direction__item_diagn {
      margin: 60px 0px 0px 0px; }
  .direction__label {
    font-size: 22px;
    line-height: 26px; }
    .direction__label a {
      position: relative;
      color: #cecece;
      font-weight: 700; }
      .direction__label a:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1.5px;
        bottom: 2px;
        left: 0;
        background-color: #cecece;
        -webkit-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s; }
      .direction__label a:hover:after {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        opacity: 0; }
  @media (max-width: 1070px) {
    .direction {
      padding: 60px 0px 50px 0px; }
      .direction__body {
        margin: 50px 0px 0px 0px; }
      .direction__item {
        margin: 75px 0px 0px 0px; }
        .direction__item_cor {
          margin: 0px 0px 0px 0px; } }
  @media (max-width: 768px) {
    .direction {
      padding: 40px 0px 50px 0px; }
      .direction__body {
        margin: 40px 0px 0px 0px; }
      .direction__title {
        font-size: 30px; }
      .direction__text {
        margin: 35px 0px 0px 0px;
        font-size: 22px; }
      .direction__sublabel {
        margin: 30px 0px 20px 0px; }
        .direction__sublabel span {
          margin: 0px 0px 5px 0px; }
      .direction__image {
        margin: 40px 0px 0px 0px; }
      .direction__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
        flex: 0 1 200px; }
        .direction__img img {
          width: 100%; }
      .direction__video {
        margin: 30px 0px 30px 0px;
        width: 300px;
        height: 300px; }
      .direction__item {
        margin: 70px 0px 0px 0px; }
        .direction__item_pr {
          margin: 40px 0px 0px 0px; }
        .direction__item_cor {
          margin: 0px 0px 0px 0px; }
        .direction__item_diagn {
          margin: 40px 0px 0px 0px; } }
  @media (max-width: 600px) {
    .direction {
      padding: 50px 0px 30px 0px; }
      .direction_p {
        height: 100vh; }
      .direction__title {
        font-size: 26px;
        letter-spacing: normal; }
      .direction__text {
        margin: 45px 0px 0px 0px;
        font-size: 18px;
        text-align: center;
        line-height: 28px;
        letter-spacing: 0.5px; }
      .direction__sublabel {
        font-size: 22px;
        line-height: 28px; }
        .direction__sublabel span {
          margin: 0px 0px 5px 0px; }
      .direction__label {
        font-size: 20px; } }
  @media (max-width: 430px) {
    .direction {
      padding: 30px 0px; }
      .direction_d {
        height: 100vh; }
      .direction__title {
        line-height: 30px; }
      .direction__text {
        margin: 20px 0px 0px 0px;
        line-height: 26px; }
      .direction__image {
        margin: 30px 0px 0px 0px; }
      .direction__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
        flex: 0 1 150px; }
        .direction__img img {
          width: 100%; }
      .direction__video {
        margin: 20px 0px 20px 0px;
        width: 250px;
        height: 250px; }
      .direction__item {
        margin: 60px 0px 0px 0px; }
        .direction__item_pr {
          margin: 30px 0px 0px 0px; }
        .direction__item_cor {
          margin: 0px 0px 0px 0px; }
        .direction__item_diagn {
          margin: 30px 0px 0px 0px; }
      .direction__sublabel {
        margin: 20px 0px 10px 0px;
        font-size: 20px;
        line-height: 26px; }
        .direction__sublabel span {
          margin: 0px 0px 2px 0px; } }
  @media (max-width: 375px) {
    .direction_d {
      height: auto; } }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  font-size: 16px; }
  .breadcrumbs__link a {
    color: #585858;
    font-weight: 700; }
  .breadcrumbs span {
    margin: 0px 3px; }
  .breadcrumbs__text {
    color: #969292; }
  @media (max-width: 600px) {
    .breadcrumbs {
      display: none; } }

.direction-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0px 50px; }
  .direction-slider .slick-arrow {
    margin: -30px 100px 0 100px;
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 60px; }
  .direction-slider .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/arrow_l.png") 0 0/100% no-repeat; }
  .direction-slider .slick-arrow.slick-next {
    right: 0;
    background: url("../img/arrow_r.png") 0 0/100% no-repeat; }
  .direction-slider .slick-dots {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .direction-slider .slick-dots li {
    list-style: none;
    margin: 0px 7px; }
  .direction-slider .slick-dots li.slick-active button {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: rgba(238, 238, 238, 0.116); }
  .direction-slider .slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #eee;
    border-radius: 50%; }
  .direction-slider__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .direction-slider__image {
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 450px;
    flex: 0 1 450px; }
    .direction-slider__image img {
      width: 100%; }
    .direction-slider__image_ex {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
      flex: 0 1 600px; }
  @media (max-width: 1070px) {
    .direction-slider .slick-arrow {
      margin: -30px 40px 0 40px; } }
  @media (max-width: 870px) {
    .direction-slider .slick-arrow {
      margin: -30px 10px 0 10px; } }
  @media (max-width: 768px) {
    .direction-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
      flex: 0 1 350px; }
      .direction-slider__image img {
        width: 100%; }
      .direction-slider__image_ex {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
        flex: 0 1 400px; } }
  @media (max-width: 580px) {
    .direction-slider .slick-arrow {
      margin: -30px 0px 0 0px; }
    .direction-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px; }
      .direction-slider__image img {
        width: 100%; }
      .direction-slider__image_ex {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
        flex: 0 1 300px; } }
  @media (max-width: 430px) {
    .direction-slider__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px; }
      .direction-slider__image img {
        width: 100%; }
      .direction-slider__image_ex {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
        flex: 0 1 250px; } }
