.header {
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(165, 122, 80, 0.7);
		z-index: 3;
	}
	&__wrapper {
		position: relative;
		height: 80px;
		display: flex;
		align-items: center;
	}

	&__column {
		&_2 {
			margin: 0px auto;
		}
	}

	&__logo {
		font-family: "Pompiere", cursive;
		position: relative;
		z-index: 4;
		color: #fff;
		font-size: 36px;
		font-weight: 300;
	}

	&__burger {
		position: relative;
		z-index: 4;
		display: none;
	}

	&__menu {
		position: relative;
		z-index: 4;
		display: flex;
		align-items: center;
		justify-content: center;
		& li {
			margin: 0px 15px;
			&:first-child {
				margin: 0px 15px 0px 0px;
			}
			&:last-child {
				margin: 0px 0 0px 15px;
			}
		}
	}

	&__link {
		position: relative;
		color: #fff;
		font-size: 22px;
		font-weight: 400;
		letter-spacing: 1.5px;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1.5px;
			bottom: -2px;
			left: 0;
			background-color: #6d3803;
			transform: scale(0);
			transition: all 0.4s ease 0s;
		}
		&:hover:after {
			transform: scale(1);
		}
	}

	&__order {
		position: relative;
		z-index: 4;
		display: block;
		color: #fff;
		font-size: 20px;
		font-weight: 700;
		transition: all 0.4s linear 0s;
		letter-spacing: 1.5px;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: -3px;
			right: 0;
			transition: all 0.4s ease 0s;
			border-bottom: #fff dashed 2px;
		}
		&:hover:after {
			opacity: 0;
		}
	}
	@media (max-width: 1170px) {
		&__menu {
			& li {
				margin: 0px 12px;
				&:first-child {
					margin: 0px 12px 0px 0px;
				}
				&:last-child {
					margin: 0px 0 0px 12px;
				}
			}
		}
	}
	@media (max-width: 1070px) {
		height: 70px;
		&__wrapper {
			height: 70px;
		}
		&__column {
		}
		&__logo {
			text-align: left;
		}
		&__burger {
			display: block;
			order: 4;
			position: relative;
			width: 30px;
			height: 18px;
			top: 0;
			right: 0;
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 1.5px;
				top: 0;
				left: 0;
				background-color: #fff;
				transition: all 0.4s ease 0s;
			}
			& span {
				position: absolute;
				width: 100%;
				height: 1.5px;
				top: 8px;
				left: 0;
				background-color: #fff;
				transition: all 0.4s ease 0s;
			}
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 1.5px;
				top: 16px;
				left: 0;
				background-color: #fff;
				transition: all 0.4s ease 0s;
			}
		}
		&__burger.active:before {
			transform: rotate(45deg);
			top: 8px;
		}
		&__burger.active span {
			transform: scale(0);
		}
		&__burger.active:after {
			transform: rotate(-45deg);
			top: 8px;
		}
		&__menu {
			position: fixed;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: -100%;
			left: 0;
			background-color: #3d2d29;
			transition: all 0.3s ease 0s;
			flex-direction: column;
			overflow: auto;
			& li {
				padding: 20px 0px;
				text-align: center;
				margin: 0px 0px 0px 0px !important;
			}
		}
		&__menu.active {
			top: 0;
			padding: 50px 0px 0px 0px;
		}
		&__link {
			font-size: 30px;
		}
	}
	@media (max-width: 768px) {
		height: 55px;
		&__wrapper {
			height: 55px;
		}
		&__logo {
			font-size: 28px;
		}
		&__menu.active {
			padding: 20px 0px 0px 0px;
		}
	}
	@media (max-width: 480px) {
		height: 50px;
		&__wrapper {
			height: 50px;
		}
		&__logo {
			font-size: 22px;
		}
		&__menu.active {
			padding: 10px 0px 0px 0px;
		}
	}
}
